.navbar-rails-tournament {
  justify-content: space-between;
  background: white;
}

.navbar-rails-tournament .navbar-collapse {
  flex-grow: 0;
}

.navbar-rails-tournament .navbar-brand img {
  width: 40px;
}

.navToggleBtn {
  font-size: 22px;
  padding-top: 9px;
}